<div>
    <ng-container>
   
        <nz-table #basicTable [nzBordered]="true" [nzData]="users">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data">
                <td>{{data.nombre}}</td>
                <td>{{data.apellido}}</td>
                <td>{{data.telefono}}</td>
                <td>{{data.email}}</td>
                <td>{{data.estado}}</td>
              </tr>
            </tbody>
          </nz-table>
       
    </ng-container>
</div>
    



