<div class="grid grid-cols-2">

    <div class="m-6">
        <div>
           <textarea class="flex m-2 justify-center" #date nz-input placeholder="Escribe tu tarea" ></textarea>
          </div>
          <div class="flex m-2 justify-start">
            <button type="button" class="btn btn-success" (click)="increment(date.value)">Agregar</button>
          </div>
    </div>
    <div class="m-2">
        
       <ng-container>
            <div *ngIf="tak$.length > 0; else nodate">
                <nz-table #basicTable [nzBordered]="true" [nzData]="tak$">
                    <thead>
                      <tr>
                        <th>Taks</th>
                        <th>Eliminar</th>              
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="gird grid-cols-6" *ngFor="let data of basicTable.data; index as i">
                        <td class="col-span-5">{{data.taks}}</td>
                        <td class="col-span-1">
                            <div><button type="button" (click)="decrement(i)" class="btn btn-danger">Danger</button></div>
                        </td>           
                      </tr>
                    </tbody>
                  </nz-table>
            </div>
          </ng-container>
        <ng-template #nodate>
            <nz-skeleton [nzActive]="true"></nz-skeleton>
        </ng-template>
    </div>

</div>

